@media(max-width:767px){
    .container {
        width: 400px;
    }
}
@media(min-width:768px){
    .container {
        width: 400px;
    }
}
@media(min-width:992px){
    .container {
        width: 400px;
    }
}
@media(min-width:1200px){
    .container {
        width: 400px;
    }
}

body {
    background: url("/images/studio.jpg");
    background-size: cover;
}

h1 {
    font-size: 5em;
    color: #f0f0f0;
}

.btn-margin {
    margin-top: 10px;
}

.input-xl {
    height: 2.5em;
    font-size: 18px;
}
